@tailwind base;
@tailwind components;
@tailwind utilities;

.text-3\.5xl {
  font-size: 2.125rem;
  line-height: 3.375rem;
}
.aspect-16-9 {
  aspect-ratio: 16 / 9;
}

.scroller {
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent) ;;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent) ;
}

.scroll_inner{
  overflow: hidden;
  width: max-content;
  flex-wrap: nowrap;
}