@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.text-3\.5xl {
  font-size: 2.125rem;
  line-height: 3.375rem;
}
.aspect-16-9 {
  aspect-ratio: 16 / 9;
}

.scroller {
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent) ;;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent) ;
}

.scroll_inner{
  overflow: hidden;
  width: max-content;
  flex-wrap: nowrap;
}

/* #aboutMM {
  background-image: radial-gradient(circle, #c30bb1, #cb06a9, #d106a1, #d60b99, #db1392);
} */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#aboutMM {
  background-image: radial-gradient(circle, #c30bb1, #cb06a9, #d106a1, #d60b99, #db1392);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}
